body{
	font-family: HelveticaNeue-Light;
	margin: 0px 0px 0px 0px;
}

header{
	height:50px;
	width: 100%;
	border-bottom: 1px solid rgb(200,200,200);
	background-color: rgb(240,240,240);
	padding: 13px;
	box-sizing:border-box;
}

#left{
	height: 25px;
	width: 15px;
	background-image: url(left.png);
	background-size: 15px 25px;
	background-repeat: no-repeat;
	float: left;
}

#back{
	float: left;
	margin-left: 5px;
	line-height: 25px;
	font-size: 15px;
}